<ul class="btn-list clearfix">
  <li>
    <button type="button" class="btn btn-primary btn-icon">
      <ion-icon class="icon" name="download"></ion-icon>
    </button>
  </li>
  <li>
    <button type="button" class="btn btn-default btn-icon">
      <ion-icon class="icon" name="wifi"></ion-icon>
    </button>
  </li>
  <li>
    <button type="button" class="btn btn-success btn-icon">
      <ion-icon class="icon" name="checkmark-circle"></ion-icon>
    </button>
  </li>
  <li>
    <button type="button" class="btn btn-info btn-icon">
      <ion-icon class="icon" name="information-circle-outline"></ion-icon>
    </button>
  </li>
  <li>
    <button type="button" class="btn btn-warning btn-icon">
      <ion-icon class="icon" name="warning"></ion-icon>
    </button>
  </li>
  <li>
    <button type="button" class="btn btn-danger btn-icon">
      <ion-icon class="icon" name="nuclear"></ion-icon>
    </button>
  </li>
</ul>
<h5 class="panel-subtitle">Buttons with icons</h5>
<ul class="btn-list clearfix">
  <li>
    <button type="button" class="btn btn-primary btn-with-icon">
      <ion-icon class="icon" name="download"></ion-icon>
      Primary
    </button>
  </li>
  <li>
    <button type="button" class="btn btn-default btn-with-icon">
      <ion-icon class="icon" name="wifi"></ion-icon>
      Default
    </button>
  </li>
  <li>
    <button type="button" class="btn btn-success btn-with-icon">
      <ion-icon class="icon" name="checkmark-circle"></ion-icon>
      <span>Success</span>
    </button>
  </li>
  <li>
    <button type="button" class="btn btn-info btn-with-icon">
      <ion-icon class="icon" name="information-circle"></ion-icon>
      Info</button>
  </li>
  <li>
    <button type="button" class="btn btn-warning btn-with-icon">
      <ion-icon class="icon" name="warning"></ion-icon>
      Warning
    </button>
  </li>
  <li>
    <button type="button" class="btn btn-danger btn-with-icon">
      <ion-icon class="icon" name="nuclear"></ion-icon>
      Danger
    </button>
  </li>
</ul>
