@import "../../../theme/sass/conf/conf";

.pie-charts {
  color: $content-text;

  .pie-chart-item-container {
    position: relative;
    padding: 0 15px;
    float: left;
    box-sizing: border-box;

    .card {
      height: 115px;

      .card-body {
        padding: 15px;
      }
    }
  }

  @media screen and (min-width: 1325px) {
    .pie-chart-item-container {
      width: 25%;
      flex: 0 0 25%
    }
  }
  @media screen and (min-width: 700px) and (max-width: 1325px)  {
    .pie-chart-item-container {
      width: 50%;
      flex: 0 0 50%
    }
  }
  @media screen and (max-width: 700px)  {
    .pie-chart-item-container {
      width: 100%;
      flex: 0 0 100%
    }
  }

  .pie-chart-item {
    position: relative;
    .chart-icon {
      position: absolute;
      right: 0;
      top: 3px;
    }
  }
  @media screen and
  (min-width: 1325px) and (max-width: 1650px),
  (min-width: 700px) and (max-width: 830px),
  (max-width: 400px) {
    .chart-icon {
      display: none;
    }
  }
  .description {
    display: inline-block;
    padding: 15px 0 0 20px;
    font-size: 18px;
    opacity: 0.9;
    .description-stats {
      padding-top: 20px;
      font-size: 24px;
    }
  }
  .angular {
    margin-top: 100px;
  }
  .angular .chart {
    margin-top: 0;
  }
}
