<div class="widgets">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <sa-card name="Hover Rows" baCardClass="with-scroll table-panel">
        <box-hover-table></box-hover-table>
      </sa-card>
    </div>
    <div class="col-lg-6 col-md-12">
      <sa-card name="Bordered Table" baCardClass="with-scroll table-panel">
        <box-bordered-table></box-bordered-table>
      </sa-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <sa-card name="Condensed Table" baCardClass="with-scroll table-panel">
        <box-condensed-table></box-condensed-table>
      </sa-card>
    </div>
    <div class="col-lg-6 col-md-12">
      <sa-card name="Striped Rows" baCardClass="with-scroll table-panel">
        <box-striped-table></box-striped-table>
      </sa-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <sa-card name="Contextual Table" baCardClass="with-scroll table-panel">
        <box-contextual-table></box-contextual-table>
      </sa-card>
    </div>
    <div class="col-lg-6 col-md-12">
      <sa-card name="Responsive Table" baCardClass="with-scroll table-panel">
        <box-responsive-table></box-responsive-table>
      </sa-card>
    </div>
  </div>
</div>
