<div
  baScrollPosition
  maxHeight="50"
  class="page-header clearfix"
  (scrollChange)="scrolledChanged($event)"
  [ngClass]="{scrolled: isScrolled}"
>
  <a routerLink="/dashboard" class="al-logo clearfix">
    <ion-icon class="icon" name="logo-angular"></ion-icon>
    <span class="text">{{ APP_TITLE }}</span>
  </a>
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-md-menu">
    <ion-icon class="icon" name="reorder-three"></ion-icon>
  </a>
  <div class="user-profile clearfix">
    <div class="dropdown al-user-profile" dropdown>
      <a class="profile-toggle-link dropdown-toggle" dropdownToggle>
        <img [src]="appState.state.adminInfo.gravatar">
      </a>
      <ul
        class="dropdown-menu profile-dropdown"
        role="menu"
        *dropdownMenu
      >
        <li class="dropdown-item" role="menuitem">
          <a class="link" routerLink="/options">
            <ion-icon class="icon" name="settings"></ion-icon>
            <span>设置/资料</span>
          </a>
        </li>
        <li class="dropdown-item" role="menuitem">
          <a class="link" [href]="" (click)="logout()">
            <ion-icon class="icon" name="power"></ion-icon>
            <span>退出登录</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
