<div class="auth-main">
  <div class="auth-block">
    <div class="secret-titles">
      <div class="title" *ngIf="!editMode" (dblclick)="toEditMode($event)">
        <span>{{ slogan || '-----------' }}</span>
      </div>
      <input type="password"
             class="input"
             id="password"
             autocomplete
             *ngIf="editMode"
             [(ngModel)]="password"
             (keyup.esc)="quitEdit($event)"
             (keyup.enter)="onEnter(password.value)"
             (dblclick)="toEditMode($event)">
    </div>
  </div>
</div>
