.tag-form {

  .tag-description {
    line-height: 1.8em;
  }

  .tag-extend {
    overflow: hidden;
    margin-bottom: 1rem;
  }
}

.tag-search-form {

  > .input-group {

    > .form-control {
      width: 18em;
    }
  }
}

.tag-list {
  position: relative;

  .batch-checkbox {
    text-align: left;
    padding-left: 2em;
  }

  .tag-err-msg {
    margin: 1em 0;
  }

  tbody {

    tr {

      td {
        line-height: 5em;

        > .tag-slug,
        > .tag-description {
          width: 10em;
          overflow: hidden;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          -webkit-text-overflow: ellipsis;
          -moz-text-overflow: ellipsis;
          white-space:nowrap;
        }

        .content {
          line-height: 2;

          p {
            margin: 0;
          }

          img {
            max-width: 4em;
            margin: 0 1em;
          }
        }
      }
    }
  }
}
