.option-form {

  .blog-description,
  .blog-ping-sites {
    height: 10em;
    line-height: 1.8em;
  }
}

.auth-form {

  .auth-gravatar {
    padding: 0;
    display: inline-block;
    width: 200px;
    height: 200px;
  }
}