.option-form {

  .blog-array-textarea {
    height: 10em;
    line-height: 1.8em;
  }
}

.auth-form {

  .auth-gravatar {
    padding: 0;
    display: inline-block;
    width: 200px;
    height: auto;
    min-height: 40px;
    background-color: transparent;
    border: none;
  }
}