@import '~app/styles/base/init';
$height: 52px;

.back-cover-top {
  position: fixed;
  display: none;
  z-index: 9999;
  width: $height;
  height: $height;
  right: 40px;
  bottom: 40px !important;
  border-radius: 50%;
  line-height: $height;
  text-decoration: none;
  font-size: 1.5em;
  text-align: center;
  background-color: rgba($black-color, .75);
  opacity: 0.5;
  cursor: pointer;
  
  &:hover {
    opacity: 0.8;
  }
}
