<div class="row">
  <div class="col-md-4 col-xs-12">
    <sa-card title="添加公告">
      <form
        class="announcement-form"
        [formGroup]="editForm" 
        (ngSubmit)="submitEditForm(editForm.value)"
      >
        <div class="form-group" [ngClass]="controlStateClass(state)">
          <label for="announcement-type">
            <h5>公告状态</h5>
          </label>
          <select class="form-control c-select" id="announcement-type" [formControl]="state">
            <option [ngValue]="PublishState.Published">已发布</option>
            <option [ngValue]="PublishState.Draft">草稿</option>
          </select>
        </div>
        <div  class="form-group" [ngClass]="controlStateClass(content)">
          <label for="announcement-content">
            <h5>公告内容</h5>
          </label>
          <sa-markdown-editor
            id="announcement-content"
            class="form-control announcement-content" 
            title="文章内容"
            [config]="{ lineWrapping: true }"
            [formControl]="content">
          </sa-markdown-editor>
        </div>
        <hr>
        <div class="col-sm-12">
          <button
            type="submit"
            class="btn btn-success btn-with-icon"
            [disabled]="!editForm.valid"
          >
            <i class="ion-md-done-all"></i>
            <span>{{ activeAnnouncement ? '修改' : '添加' }}公告</span>
          </button>
          <span>&nbsp;&nbsp;</span>
          <button class="btn btn-default btn-with-icon" (click)="resetEditForm()">
            <i class="ion-md-refresh"></i>
            <span>重置</span>
          </button>
        </div>
      </form>
    </sa-card>
  </div>
  <div class="col-md-8 col-xs-12">
    <sa-card title="全部公告" baCardClass="with-scroll">
      <div class="clearfix">
        <div class="pull-left">
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-default active"
              [ngClass]="{ 'active': isState(PublishState.All) }"
              (click)="switchState(PublishState.All)"
            >
              <span>全部</span>
              <span *ngIf="isState(PublishState.All)">&nbsp;({{ currentListTotal }})</span>
            </button>
            <button
              type="button"
              class="btn btn-default"
              [ngClass]="{ 'active': isState(PublishState.Published) }"
              (click)="switchState(PublishState.Published)"
            >
              <span>已发布</span>
              <span *ngIf="isState(PublishState.Published)">&nbsp;({{ currentListTotal }})</span>
            </button>
            <button
              type="button"
              class="btn btn-default"
              [ngClass]="{ 'active': isState(PublishState.Draft) }"
              (click)="switchState(PublishState.Draft)"
            >
              <span>草稿</span>
              <span *ngIf="isState(PublishState.Draft)">&nbsp;({{ currentListTotal }})</span>
            </button>
          </div>
          <span>&nbsp;&nbsp;</span>
          <div class="btn-group" role="group">
            <button
              type="button" 
              class="btn btn-default btn-with-icon" 
              (click)="refreshAnnouncements()"
            >
              <i class="ion-md-refresh"></i>
              <span>刷新</span>
            </button>
            <button
              type="button" 
              class="btn btn-default btn-with-icon"
              (click)="resetSearchForm()"
            >
              <i class="ion-md-trash"></i>
              <span>清空关键词</span>
            </button>
            <div class="btn-group" dropdown [isDisabled]="!selectedAnnouncements.length">
              <button
                type="button"
                class="btn btn-default btn-with-icon dropdown-toggle"
                dropdownToggle
              >
                <i class="ion-md-list"></i>
                <span>批量操作</span>
              </button>
              <ul class="dropdown-menu" *dropdownMenu>
                <li class="dropdown-item">
                  <a [href]="" (click)="openBatchDelModal()">批量删除</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <form
          class="pull-right form-inline navbar-form announcement-search-form" 
          [formGroup]="searchForm" 
          (ngSubmit)="submitSearchForm(searchForm.value)"
        >
          <div class="input-group" style="margin: 0">
            <input
              type="text"
              placeholder="公告内容"
              [formControl]="keyword"
              class="form-control with-default-addon"
            />
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" [disabled]="!searchForm.valid">搜索</button>
            </span>
          </div>
        </form>
      </div>
      <div class="table-responsive">
        <div class="announcement-list">
          <sa-loading-spider [show]="fetching.get"></sa-loading-spider>
          <table class="table table-striped table-no-borders black-muted-bg table-enrich">
            <thead class="thead-inverse">
              <tr>
                <th class="batch-checkbox">
                  <sa-checkbox [(ngModel)]="announcementsSelectAll" (ngModelChange)="handleBatchSelectChange($event)">
                    <span sa-checkbox-label>
                      <span>&nbsp;</span>
                      <strong>ID</strong>
                    </span>
                  </sa-checkbox>
                </th>
                <th width="50%">内容</th>
                <th class="text-center">状态</th>
                <th class="text-center">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!announcements.data.length;else dataList">
                <td colspan="7">
                  <p class="text-muted text-center announcement-err-msg">
                    <span>{{ fetching.get ? '数据请求中...' : '暂无数据' }}</span>
                  <p>
                </td>
              </tr>
              <ng-template #dataList>
                <tr *ngFor="let announcement of announcements.data">
                  <td class="batch-checkbox">
                    <sa-checkbox [(ngModel)]="announcement.selected" (ngModelChange)="handleItemSelectChange()">
                      <span sa-checkbox-label>
                        <span>&nbsp;</span>
                        <strong>{{ announcement.id }}</strong>
                      </span>
                    </sa-checkbox>
                  </td>
                  <td>
                    <div
                      class="content ql-editor" 
                      [innerHTML]="parseMarkdown(announcement.content)"
                    ></div>
                  </td>
                  <td align="center">
                    <span>{{ announcement.state === PublishState.Published ? '已发布' : '草稿' }}</span>
                    <span>&nbsp;&nbsp;</span>
                    <i class="ion-md-checkmark text-success" *ngIf="announcement.state === PublishState.Published"></i>
                    <i class="ion-md-create text-warning" *ngIf="announcement.state === PublishState.Draft"></i>
                  </td>
                  <td>
                    <div class="text-center">
                      <div class="btn-group" role="group">
                        <button
                          type="button"
                          class="btn btn-sm btn-warning"
                          (click)="editAnnouncement(announcement)"
                        >编辑公告</button>
                        <button
                          type="button"
                          class="btn btn-sm btn-danger"
                          (click)="openDelModal(announcement)"
                        >删除公告</button>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </table>
          <br>
          <div class="text-center" *ngIf="announcements.pagination">
            <pagination
              class="pagination-xs"
              firstText="首页"
              lastText="末页"
              nextText="下一页"
              previousText="上一页"
              pageBtnClass="btn-primary"
              [totalItems]="announcements.pagination.total"
              [itemsPerPage]="announcements.pagination.per_page"
              [(ngModel)]="announcements.pagination.current_page"
              [maxSize]="7"
              [boundaryLinks]="true"
              [rotate]="false"
              (pageChanged)="handlePageChanged($event)"
            ></pagination>
          </div>
        </div>
      </div>
    </sa-card>
  </div>
  <!-- 删除确认弹窗 -->
  <div bsModal #delModal="bs-modal" class="modal fade" tabindex="1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" aria-label="Close" (click)="canceldDelModal()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">确认操作</h4>
        </div>
        <div class="modal-body">
          <div class="message">
            <span class="icon text-warning">
              <i class="ion-md-information-circle-outline"></i>
            </span>
            <span>确定要删除{{ activeAnnouncement ? '这条' : '选中' }}公告吗？</span>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary confirm-btn" (click)="(activeAnnouncement ? doDelAnnouncement() : doDelAnnouncements())">确认删除</button>
          <span>&nbsp;&nbsp;</span>
          <button class="btn btn-default confirm-btn" (click)="canceldDelModal()">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>
