.announcement-list {

  .batch-checkbox {

    text-align: left;
    padding-left: 2em;
  }

  .announcement-err-msg {
    margin: 1em 0;
  }

  tbody {

    tr {

      td {
        line-height: 5em;

        .content {
          line-height: 2;
        }
      }
    }
  }
}
