<div class="markdown-editor" 
		 [ngClass]="{ 'fullscreen': fullscreen }">
	<div class="editor-toolbar">
	  <ul class="menus">
	  	<li class="bold" 					 (click)="toggleBold()">粗体</li>
	  	<li class="italic" 				 (click)="toggleItalic()">斜体</li>
	  	<li class="quote" 				 (click)="drawQuote()">引用</li>
	  	<li class="code" 					 (click)="drawCode()">代码</li>
	  	<li class="link"  				 (click)="drawLink()">链接</li>
	  	<li class="image" 				 (click)="drawImage()">图片</li>
	  	<li class="-h3" 					 (click)="drawH3Title('\n' + '### ')">H3</li>
	  	<li class="save" 					 (click)="saveAsMarkdown()">保存</li>
	  </ul>
	  <ul class="right">
	  	<li class="preview-full" (click)="previewMode = 2;parseMarked();">Full</li>
	  	<li class="preview-both" (click)="previewMode = 1;parseMarked();">Both</li>
	  	<li class="preview-none" (click)="previewMode = 0">None</li>
	  	<li class="fullscreen"   (click)="fullscreen = !fullscreen">
	  		<span *ngIf="fullscreen">exit</span>
	  		<span>Fullscreen</span>
	  	</ul>
	</div>
	<div class="editor-content"
			 [ngClass]="{ 
          'preview-full': previewMode == 2, 
          'preview-both': previewMode == 1
       }">
		<div class="editor" (keyup)="keyDownListen($event)">
			<textarea id="editor"></textarea>
		</div>
		<div class="marked" [innerHTML]="markedHtml"></div>
	</div>
</div>