
@import '~app/styles/base/init';

.page-top {
  background-color: $sidebar;
  position: fixed;
  z-index: 999;
  height: $top-height;
  width: 100%;
  min-width: $resMin;
  padding: 0 20px 0 0;
  border-bottom: 3px solid $topbar-border;

  .dropdown-toggle::after {
    display: none;
  }
}

a.al-logo {
  color: $topbar-text;
  display: block;
  font-size: 20px;
  white-space: nowrap;
  float: left;
  outline: none !important;
  line-height: $top-height;
  width: $sidebar-width;
  text-align: center;
  font-weight: bolder;

  span {
    margin-right: 2px;
    color: $primary;
  }
}

@media (max-width: $resXS) {
  a.al-logo {
    width: auto;
  }
}

.user-profile {
  float: right;
}

.al-user-profile {
  float: right;
  margin-right: 12px;
  transition: all .15s ease-in-out;
  padding: 0;
  height: 45px;
  border: 0;
  opacity: 1;
  position: relative;

  a {
    display: block;

    &.profile-toggle-link {
      height: 45px;
    }
  }

  img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-top: 8px;
  }

  .profile-dropdown {
    left: auto !important;
    right: -20px !important;
  }
}

// 左侧收缩按钮
a.collapse-menu-link {
  font-size: 31px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  line-height: 43px;
  color: $topbar-text;
  padding: 0;
  float: left;
  width: 40px;
  text-align: center;

  &:hover {
    text-decoration: none;
    color: $warning;
  }
}

@media screen and (max-width: $resXS) {
  .page-top {
    padding: 0 20px;
  }
}

@media (max-width: $resXXS) {
  .user-profile{
    min-width: 136px;
  }
  a.collapse-menu-link {
    margin-left: 10px;
  }
}

.profile-toggle-link {
  cursor: pointer;
}

