<div
  baScrollPosition
  maxHeight="50"
  class="page-top clearfix"
  (scrollChange)="scrolledChanged($event)"
  [ngClass]="{scrolled: isScrolled}"
>
  <a routerLink="/dashboard" class="al-logo clearfix">Surmon.me</a>
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-md-menu"></a>
  <div class="user-profile clearfix">
    <div class="dropdown al-user-profile" dropdown>
      <a class="profile-toggle-link dropdown-toggle" dropdownToggle>
        <img [src]="appState.state.adminInfo.gravatar">
      </a>
      <ul
        class="dropdown-menu top-dropdown-menu profile-dropdown"
        role="menu"
        *dropdownMenu
      >
        <li class="dropdown-item" role="menuitem">
          <a routerLink="/options">
            <i class="ion-md-settings icon"></i>
            <span>设置/资料</span>
          </a>
        </li>
        <li class="dropdown-item" role="menuitem">
          <a class="signout" [href]="" (click)="logout()">
            <i class="ion-md-power icon"></i>
            <span>退出登录</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
