<div class="row">
  <div class="col-lg-12 col-md-12">
    <sa-card title="评论列表" baCardClass="with-scroll table-panel">
      <div class="contnet-top-tools">
        <div class="pull-left">
          <div class="btn-group">
            <button class="btn btn-success" *ngIf="isGuestbook(post_id);else postListTitle">
              <strong>留言板评论列表</strong>
            </button>
            <ng-template #postListTitle>
              <button class="btn btn-info">
                <strong>文章 {{ post_id }} 评论列表</strong>
              </button>
            </ng-template>
            <button type="button"
                    class="btn btn-default active"
                    [ngClass]="{ 'active': isState(CommentState.all)}"
                    (click)="switchState(CommentState.all)">
              <span>全部</span>
              <span *ngIf="isState(CommentState.all)">&nbsp;({{ currentListTotal }})</span>
            </button>
            <button type="button"
                    class="btn btn-default"
                    [ngClass]="{ 'active': isState(CommentState.published) }"
                    (click)="switchState(CommentState.published)">
              <span>已发布</span>
              <span *ngIf="isState(CommentState.published)">&nbsp;({{ currentListTotal }})</span>
            </button>
            <button type="button"
                    class="btn btn-default"
                    [ngClass]="{ 'active': isState(CommentState.auditing) }"
                    (click)="switchState(CommentState.auditing)">
              <span>待审核</span>
              <span *ngIf="isState(CommentState.auditing)">&nbsp;({{ currentListTotal }})</span>
            </button>
            <button type="button"
                    class="btn btn-default"
                    [ngClass]="{ 'active': isState(CommentState.deleted) }"
                    (click)="switchState(CommentState.deleted)">
              <span>回收站</span>
              <span *ngIf="isState(CommentState.deleted)">&nbsp;({{ currentListTotal }})</span>
            </button>
            <button type="button"
                    class="btn btn-default"
                    [ngClass]="{ 'active': isState(CommentState.spam) }"
                    (click)="switchState(CommentState.spam)">
              <span>垃圾评论</span>
              <span *ngIf="isState(CommentState.spam)">&nbsp;({{ currentListTotal }})</span>
            </button>
          </div>
          <span>&nbsp;&nbsp;</span>
          <div class="btn-group">
            <button type="button" 
                    class="btn btn-default btn-with-icon"
                    (click)="refreshComments()">
              <i class="ion-md-refresh"></i>
              <span>刷新</span>
            </button>
            <button type="button" 
                    class="btn btn-default btn-with-icon"
                    (click)="resetGetParams()">
              <i class="ion-md-trash"></i>
              <span>清空搜索条件</span>
            </button>
            <div class="btn-group" dropdown [isDisabled]="!selectedComments.length">
              <button type="button" 
                      class="btn btn-default btn-with-icon dropdown-toggle"
                      dropdownToggle>
                <i class="ion-md-list"></i>
                <span>批量操作</span>
              </button>
              <ul class="dropdown-menu" *dropdownMenu>
                <li class="dropdown-item">
                  <a [href]="" (click)="updateCommentsState(CommentState.published)">审核通过</a>
                </li>
                <li class="dropdown-item">
                  <a [href]="" (click)="updateCommentsState(CommentState.auditing)">移至待审核</a>
                </li>
                <li class="dropdown-item">
                  <a [href]="" (click)="updateCommentsState(CommentState.deleted)">移至回收站</a>
                </li>
                <li class="dropdown-item">
                  <a [href]="" (click)="updateCommentsState(CommentState.spam)">标为垃圾评论</a>
                </li>
                <li class="dropdown-item">
                  <a [href]="" (click)="delCommentModal()">彻底删除</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <form class="pull-right form-inline comment-search-form"
              [formGroup]="searchForm" 
              (ngSubmit)="searchComments()">
          <div class="input-group">
            <input type="text"
                   [formControl]="keyword" 
                   class="form-control with-default-addon" 
                   placeholder="评论内容、作者信息">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" [disabled]="!searchForm.valid">搜索</button>
            </span>
          </div>
        </form>
        <span class="pull-right">&nbsp;&nbsp;&nbsp;</span>
        <div class="pull-right form-inline">
          <select class="form-control c-select" [(ngModel)]="getParams.sort" (ngModelChange)="getComments()">
            <option [value]="SortType.desc" default>最新评论</option>
            <option [value]="SortType.asc">最早评论</option>
            <option [value]="SortType.hot">最热评论</option>
          </select>
        </div>
      </div>
      <div class="table-responsive">
        <div class="comment-list">
          <sa-loading-spider [show]="fetching.get"></sa-loading-spider>
          <table class="table tablehover table-striped table-no-borders black-muted-bg table-enrich">
            <thead class="thead-inverse">
              <tr>
                <th>
                  <sa-checkbox [(ngModel)]="commentsSelectAll" (ngModelChange)="batchSelectChange($event)">
                    <span sa-checkbox-label>
                      <span>&nbsp;</span>
                      <strong>ID</strong>
                    </span>
                  </sa-checkbox>
                </th>
                <th>PID2</th>
                <th>POST</th>
                <th width="23%">评论内容</th>
                <th>个人信息</th>
                <th>终端</th>
                <th>点赞</th>
                <th>置顶</th>
                <th>日期</th>
                <th>状态</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!comments.data.length;else dataList">
                <td colspan="11">
                  <p class="text-muted text-center comment-err-msg" *ngIf="!comments.data.length">
                    <span>{{ fetching.get ? '数据请求中...' : '暂无数据' }}</span>
                  <p>
                </td>
              </tr>
              <ng-template #dataList>
                <tr *ngFor="let comment of comments.data" class="comment-item">
                  <td class="batch-checkbox">
                    <sa-checkbox [(ngModel)]="comment.selected" (ngModelChange)="itemSelectChange()">
                      <span sa-checkbox-label>
                        <span>&nbsp;</span>
                        <strong>{{ comment.id }}</strong>
                      </span>
                    </sa-checkbox>
                  </td>
                  <td>
                    <a *ngIf="comment.pid;else noLinkPid" [routerLink]="['/comment/detail/', comment.pid]">{{ comment.pid }}</a>
                    <ng-template #noLinkPid><span>{{ comment.pid }}</span></ng-template>
                  </td>
                  <td>
                    <a [routerLink]="['/comment/post/', comment.post_id]">{{ comment.post_id }}</a>
                  </td>
                  <td class="comment-content">
                    <span class="content">
                      <span *ngIf="comment.content;else emptyComment">{{ comment.content | truncate : 160 }}</span>
                      <ng-template #emptyComment><span class="text-muted">暂无内容</span></ng-template>
                    </span>
                  </td>
                  <td class="comment-user">
                    <div class="name"><strong>名字：</strong>{{ comment.author.name }}</div>
                    <div class="email">
                      <strong>邮箱：</strong>
                      <a [href]="'mailto:' + comment.author.email" target="_blank">{{ comment.author.email }}</a>
                    </div>
                    <div class="site">
                      <strong>网址：</strong>
                      <a [href]="comment.author.site" target="_blank">{{ comment.author.site || '无' }}</a>
                    </div>
                  </td>
                  <td class="comment-tag">
                    <div>
                      <strong>IP：</strong>
                      <span *ngIf="comment.ip;else unknowip">{{ comment.ip }}</span>
                      <ng-template #unknowip><span class="text-muted">未知</span></ng-template>
                    </div>
                    <div>
                      <strong>地理位置：</strong>
                      <span *ngIf="comment.ip_location;else unknowIpLocation">{{ comment.ip_location.country + ' - ' + comment.ip_location.city }}</span>
                      <ng-template #unknowIpLocation><span class="text-muted">未知</span></ng-template>
                    </div>
                    <div>
                      <strong>浏览器：</strong>
                      <span [innerHTML]="browserParse(comment.agent)"></span>
                    </div>
                    <div>
                      <strong>系统：</strong>
                      <span [innerHTML]="osParse(comment.agent)"></span>
                    </div>
                  </td>
                  <td>
                    <span>{{ comment.likes }}</span>
                  </td>
                  <td>{{ comment.is_top ? '是' : '否' }}</td>
                  <td>{{ comment.create_at | dataToLocale }}</td>
                  <td>
                    <i class="ion-md-checkmark text-success" *ngIf="comment.state === CommentState.published"></i>
                    <i class="ion-md-create text-warning" *ngIf="comment.state === CommentState.auditing"></i>
                    <i class="ion-md-trash text-danger" *ngIf="comment.state === CommentState.deleted"></i>
                    <i class="ion-md-nuclear text-danger" *ngIf="comment.state === CommentState.spam"></i>
                    <span>&nbsp;</span>
                    <span [ngSwitch]="comment.state">
                      <span *ngSwitchCase="CommentState.auditing">待审核</span>
                      <span *ngSwitchCase="CommentState.published">已发布</span>
                    </span>
                    <span *ngIf="comment.state === CommentState.deleted">已删除</span>
                    <span *ngIf="comment.state === CommentState.spam">垃圾评论</span>
                  </td>
                  <td>
                    <div class="button-wrapper">
                      <a class="btn btn-success btn-sm" [routerLink]="['/comment/detail/', comment._id]">评论详情</a>
                    </div>
                    <div class="button-wrapper" *ngIf="comment.state === CommentState.auditing">
                      <button class="btn btn-warning btn-sm" (click)="updateCommentsState(CommentState.published, comment)">审核通过</button>
                    </div>
                    <div class="button-wrapper" *ngIf="comment.state === CommentState.deleted || comment.state === CommentState.spam">
                      <button class="btn btn-warning btn-sm" (click)="updateCommentsState(CommentState.auditing, comment)">恢复评论</button>
                    </div>
                    <div class="button-wrapper" *ngIf="comment.state === CommentState.published">
                      <button class="btn btn-danger btn-sm" (click)="updateCommentsState(CommentState.spam, comment)">标为垃圾</button>
                    </div>
                    <div class="button-wrapper" *ngIf="comment.state !== CommentState.deleted">
                      <button class="btn btn-danger btn-sm" (click)="updateCommentsState(CommentState.deleted, comment)">移回收站</button>
                    </div>
                    <div class="button-wrapper" *ngIf="comment.state === CommentState.deleted">
                      <button class="btn btn-danger btn-sm" (click)="delCommentModal(comment._id)">彻底删除</button>
                    </div>
                     <div class="button-wrapper">
                      <a class="btn btn-info btn-sm"
                         target="_blank"
                         [href]="isGuestbook(comment.post_id) ? 'https://surmon.me/guestbook' : ('https://surmon.me/article/' + comment.post_id)">
                        <span>宿主页面</span>
                      </a>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </table>
           <br>
          <div class="text-center" *ngIf="comments.pagination">
            <pagination class="pagination-xs"
                        firstText="首页"
                        lastText="末页"
                        nextText="下一页"
                        previousText="上一页"
                        pageBtnClass="btn-primary"
                        [totalItems]="comments.pagination.total"
                        [itemsPerPage]="comments.pagination.per_page"
                        [(ngModel)]="comments.pagination.current_page"
                        [maxSize]="7"
                        [boundaryLinks]="true"
                        [rotate]="false"
                        (pageChanged)="pageChanged($event)">
            </pagination>
          </div>
        </div>
      </div>
    </sa-card>
    <!-- 删除确认弹窗 -->
    <div bsModal #delModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" aria-label="Close" (click)="cancelCommentModal()">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">确认操作</h4>
          </div>
          <div class="modal-body">
            <div class="message">
              <span class="icon text-warning">
                <i class="ion-md-information-circle-outline"></i>
              </span>
              <span>确定要删除{{ todoDelCommentId ? '这篇' : '选中' }}评论吗？本操作不可逆</span>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary confirm-btn" (click)="delComments()">确认删除</button>
            <span>&nbsp;</span>
            <button class="btn btn-default confirm-btn" (click)="cancelCommentModal()">取消</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
