@import '~app/styles/init';
.article-editor-main-form {

  .article-tags {

    .tags-list {
      margin-top: .5em;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      .article-tag-item {
        margin-right: .5rem;
        margin-bottom: .5rem;
      }
    }
  }

  .article-description {
    line-height: 1.8em;
  } 

  .article-content {
    padding: 0;
    line-height: inherit;
  }
}