<ul class="al-msg-center clearfix">
  <li class="dropdown">
    <a href class="dropdown-toggle" id="msg-dd1" data-toggle="dropdown" aria-expanded="false">
      <i class="ion-ios-notifications"></i><span>5</span>
      <div class="notification-ring"></div>
    </a>
    <div class="top-dropdown-menu dropdown-menu" aria-labelledby="msg-dd1">
      <i class="dropdown-arr"></i>
      <div class="header clearfix">
        <strong>通知</strong>
        <a href>全部标记为已读</a>
        <a href>设置</a>
      </div>
      <div class="msg-list">
        <a *ngFor="let msg of notifications" href class="clearfix">
          <div class="img-area">
            <img [ngClass]="{'photo-msg-item': !msg.image}"
                 src="{{ ( msg.image ||  '/assets/img/app/profile/Admin.jpg') }}">
          </div>
          <div class="msg-area">
            <div>{{ msg.text }}</div>
            <span>{{ msg.time }}</span>
          </div>
        </a>
      </div>
      <a href>查看所有通知</a>
    </div>
  </li>
  <li class="dropdown">
    <a href class="msg dropdown-toggle" id="msg-dd2" data-toggle="dropdown" aria-expanded="false">
      <i class="ion-ios-mail"></i><span>5</span>
      <div class="notification-ring"></div>
    </a>
    <div class="top-dropdown-menu dropdown-menu" aria-labelledby="msg-dd2">
      <i class="dropdown-arr"></i>
      <div class="header clearfix">
        <strong>消息</strong>
        <a href>全部标记为已读</a>
        <a href>设置</a>
      </div>
      <div class="msg-list">
        <a *ngFor="let msg of messages" href class="clearfix">
          <div class="img-area">
            <img [ngClass]="{'photo-msg-item': !msg.image}"
                 src="{{ ( msg.image ||  '/assets/img/app/profile/Admin.jpg') }}">
          </div>
          <div class="msg-area">
            <div>{{ msg.text }}</div>
            <span>{{ msg.time }}</span>
          </div>
        </a>
      </div>
      <a href>查看所有消息</a>
    </div>
  </li>
</ul>
