<div class="widgets">
  <div class="row">
    <div class="col-md-6">
      <sa-card title="Standard Fields" baCardClass="with-scroll">
        <box-standard-inputs></box-standard-inputs>
      </sa-card>
      <sa-card title="Input Groups" baCardClass="with-scroll">
        <box-group-inputs></box-group-inputs>
      </sa-card>
      <sa-card title="Selects" baCardClass="with-scroll">
        <box-select-inputs></box-select-inputs>
      </sa-card>
    </div>
    <div class="col-md-6">
      <sa-card title="Validation States" baCardClass="with-scroll">
        <box-validation-inputs></box-validation-inputs>
      </sa-card>
      <sa-card title="Checkboxes & Radios" baCardClass="with-scroll">
        <box-checkbox-inputs></box-checkbox-inputs>
      </sa-card>
      <sa-card title="Rating" baCardClass="with-scroll">
        <box-rating-inputs></box-rating-inputs>
      </sa-card>
    </div>
  </div>
</div>
