<div class="widgets">

  <div class="row">
    <div class="col-md-6">
      <sa-card title="Standard Fields" baCardClass="with-scroll">
        <standard-inputs></standard-inputs>
      </sa-card>

      <sa-card title="Input Groups" baCardClass="with-scroll">
        <group-inputs></group-inputs>
      </sa-card>

      <sa-card title="Selects" baCardClass="with-scroll">
        <select-inputs></select-inputs>
      </sa-card>
    </div>

    <div class="col-md-6">
      <sa-card title="Validation States" baCardClass="with-scroll">
        <validation-inputs></validation-inputs>
      </sa-card>

      <sa-card title="Checkboxes & Radios" baCardClass="with-scroll">
        <checkbox-inputs></checkbox-inputs>
      </sa-card>

      <sa-card title="Rating" baCardClass="with-scroll">
        <rating-inputs></rating-inputs>
      </sa-card>
    </div>
  </div>

</div>
