@import '~app/styles/init';

.contnet-top-tools {
  .article-search-form {
    margin-left: $gap-xs;

    .input-group {
      margin-bottom: 0;

      .form-control {
        width: 12rem;
      }
    }
  }
}

.article-list {
  position: relative;

  .article-err-msg {
    margin: 1rem 0;
  }

  tbody {
    tr {
      &.article-item {
        height: 13rem;
      }

      td {
        &.article-content {
          > .content-box {
            padding: 1rem;
            line-height: 2;
            position: relative;

            > .content-bg {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              z-index: -1;
              background-color: $disabled-bg;
              background-position: center;
              background-size: cover;
              border-radius: 1px;
              filter: brightness(0.4);
              opacity: .8;
              border-radius: $radius-sm;
            }

            > .title {
              margin-top: .2rem;
              margin-bottom: 1rem;

              > a {
                &:hover {
                  cursor: pointer;
                  border-bottom: 1px solid;
                }
              }
            }
          }
        }

        &.article-category {
          .list {
            margin: 0;
            line-height: 2.3;
          }
        }
      }
    }
  }
}
