.article-list {

  .batch-checkbox {

    text-align: left;
    padding-left: 2em;
  }

  .article-err-msg {
    margin: 1em 0;
  }

  tbody {

    tr {

      &.article-item {
        height: 13em;
      }

      td {

        &.article-content {
          line-height: 2;

          > .title {
            margin-top: .5rem;
            margin-bottom: 1rem;
          }
        }

        &.article-category {

          .category-list {
            margin: 0;
          }
        }

        &.article-tag {

          .tag-list {
            margin: 0;
          }
        }
      }
    }
  }
}
