.contnet-top-tools {
  > .article-get-form {
    > .input-group {
      > .form-control {
        width: 16em;
      }
    }
  }
}

.article-list {
  position: relative;

  .batch-checkbox {
    text-align: left;
    padding-left: 2em;
  }

  .article-err-msg {
    margin: 1em 0;
  }

  tbody {
    tr {
      &.article-item {
        height: 13em;
      }

      td {
        &.article-content {
          > .content-box {
            padding: 1em;
            line-height: 2;
            position: relative;

            > .content-bg {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              z-index: -1;
              background-position: center;
              background-size: cover;
              border-radius: 1px;
              filter: brightness(0.4);
              opacity: .8;
            }

            > .title {
              margin-top: .2rem;
              margin-bottom: 1rem;

              > a {
                &:hover {
                  cursor: pointer;
                  // text-decoration: underline;
                }
              }
            }
          }
        }

        &.article-category {
          .category-list {
            margin: 0;
            line-height: 2.3;
          }
        }

        &.article-tag {
          .tag-list {
            margin: 0;
            line-height: 2.3;
          }
        }
      }
    }
  }
}
