<div class="row">
  <div class="col-md-9" style="position: relative; z-index: 2;">
    <sa-card name="撰写文章" baCardClass="with-scroll">
      <box-article-edit-main
        #editForm
        [isSubmited]="isSubmited"
        [(tag)]="article.tag"
        [(title)]="article.title"
        [(content)]="article.content"
        [(keywords)]="article.keywords"
        [(description)]="article.description">
      </box-article-edit-main>
    </sa-card>
  </div>
  <div class="col-md-3">
    <sa-card name="分类目录" baCardClass="with-scroll">
      <box-article-edit-category [(category)]="article.category"></box-article-edit-category>
    </sa-card>
    <sa-card name="缩略图" baCardClass="with-scroll">
      <sa-picture-uploader [(ngModel)]="article.thumb"></sa-picture-uploader>
    </sa-card>
    <sa-card name="自定义扩展" baCardClass="with-scroll">
      <box-article-edit-extend [(extends)]="article.extends"></box-article-edit-extend>
    </sa-card>
    <sa-card name="发布选项" baCardClass="with-scroll">
      <box-article-edit-submit
        [disabled]="isUpdating"
        [isEdit]="!!article._id"
        [(state)]="article.state"
        [(origin)]="article.origin"
        [(ppublic)]="article.public"
        [(password)]="article.password"
        (submitArticle)="submitArticle()">
      </box-article-edit-submit>
    </sa-card>
  </div>
</div>
