<div class="row">
  <div class="col-md-9">
    <ba-card title="撰写新文章" baCardClass="with-scroll">
      <article-edit-main 
          [(tag)]="article.tag"
          [(title)]="article.title"
          [(content)]="article.content"
          [(keywords)]="article.keywords"
          [(description)]="article.description">
      </article-edit-main>
    </ba-card>
  </div>
  <div class="col-md-3">
    <ba-card title="分类目录" baCardClass="with-scroll">
      <article-edit-category 
          [(category)]="article.category">
      </article-edit-category>
    </ba-card>
    <ba-card title="发布选项" baCardClass="with-scroll">
      <article-edit-submit 
          [(state)]="article.state" 
          [(ppublic)]="article.public" 
          [(password)]="article.password" 
          (submitArticle)="submitArticle()">
      </article-edit-submit>
    </ba-card>
    <ba-card title="缩略图" baCardClass="with-scroll">
      <ba-picture-uploader 
          [picture]="article.thumb" 
          [defaultPicture]="defaultThumb" 
          [uploaderOptions]="uploaderOptions">
      </ba-picture-uploader>
    </ba-card>
  </div>
</div>
