<div class="clearfix">
  <div class="pull-left">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-default btn-with-icon">
        <i class="ion-refresh"></i>
        <span>刷新</span>
      </button>
      <div class="btn-group" dropdown>
        <button type="button" class="btn btn-default" dropdownToggle addToggleClass="true" [disabled]="!selectedCategories.length">
          <i class="ion-ios-list"></i>
          <span>批量操作</span>
        </button>
        <ul class="dropdown-menu" dropdownMenu>
          <li class="dropdown-item"><a href="#">彻底删除</a></li>
        </ul>
      </div>
      <span>{{ selectedCategories }}</span>
    </div>
  </div>
</div>
<table class="table table-hover table-striped table-no-borders black-muted-bg table-enrich category-list">
  <thead class="thead-inverse">
    <tr>
      <th class="batch-checkbox">
        <ba-checkbox [(ngModel)]="categoriesSelectAll" (ngModelChange)="batchSelectChange($event)">
          <span ba-checkbox-label>
            <span>&nbsp;</span>
            <strong>名称</strong>
          </span>
        </ba-checkbox>
      </th>
      <th>ID</th>
      <th>描述</th>
      <th>别名</th>
      <th>文章</th>
      <th width="30%" class="text-center">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="!categories || !categories.data.length">
      <td colspan="7">
        <p class="text-muted text-center category-err-msg" *ngIf="categories && categories.data.length == 0">暂无数据<p>
        <p class="text-muted text-center category-err-msg" *ngIf="categories && categories.data.length == undefined">加载中<p>
      </td>
    </tr>
    <template [ngIf]="categories && categories.data.length">
      <tr *ngFor="let category of categories.data">
        <td class="batch-checkbox">
          <ba-checkbox [(ngModel)]="category.selected" (ngModelChange)="itemSelectChange()">
            <span ba-checkbox-label>
              <span>&nbsp;</span>
              <strong *ngFor="let num of categoryLevelMark(category.level)">—&nbsp;</strong>
              <strong>{{ category.name }}</strong>
            </span>
          </ba-checkbox>
        </td>
        <td>
          <strong>{{ category.id }}</strong>
        </td>
        <td>{{ category.description || '暂无' }}</td>
        <td>{{ category.slug }}</td>
        <td>{{ category.articles || 0 }}</td>
        <td>
          <div class="text-center">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-sm btn-warning" (click)="editCategory({ category: category, event: $event })">编辑分类</button>
              <button type="button" class="btn btn-sm btn-danger">删除分类</button>
              <a class="btn btn-sm btn-success" href="//surmon.me/category/{{ category.slug }}" target="_blank">查看分类</a>
            </div>
          </div>
        </td>
      </tr>
    </template>
  </tbody>
</table>
