.category-list {
  margin-top: 1rem;

  .batch-checkbox {

    text-align: left;
    padding-left: 2em;
  }

  .category-err-msg {
    margin: 1em 0;
  }

  tbody {

    tr {

      td {
        line-height: 5em;
      }
    }
  }
}
