.category-list {
  position: relative;

  .batch-checkbox {
    text-align: left;
  }

  .category-err-msg {
    margin: 1rem 0;
  }

  tbody {
    tr {
      td {
        line-height: 5em;

        &.category-description {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
