<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row statistics">
      <sa-card
        *ngFor="let item of defaultStatistics" 
        class="statistics-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-xs-12"
      >
        <div class="statistics-item">
          <div class="description">
            <h4>{{ item.description }}</h4>
            <p class="description-stats">
              {{ statistics[item.type] !== null ? statistics[item.type] : '-' }}
            </p>
          </div>
          <i class="icon {{ item.icon }}"></i>
        </div>
      </sa-card>
    </div>
  </div>
</div>
<div class="row">
  <sa-card 
    title="GA 今日统计"
    baCardClass="ga-card with-scroll"
    class="col-xlg-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12"
  >
    <div class="ga-box">
      <sa-loading-spider [show]="!isGaReady"></sa-loading-spider>
      <div class="toolbar">
        <div class="switch"></div>
        <div id="view-selector" class="selector"></div>
      </div>
      <hr>
      <div class="pie-charts">
        <div id="pie-country" class="chart"></div>
        <div id="pie-city" class="chart"></div>
        <div id="pie-browser" class="chart"></div>
      </div>
      <hr>
      <div id="timeline" class="timeline"></div>
    </div>
  </sa-card>
</div>
