<div class="category-list">
  <template [ngIf]="categories && categories.data.length">
    <div *ngFor="let category of categories.data" class="category-item-checkbox">
      <ba-checkbox [(ngModel)]="category.checked" (ngModelChange)="itemSelectChange($event, category)">
        <span ba-checkbox-label>
          <span>&nbsp;</span>
          <span *ngIf="category.level">└</span>
          <span *ngFor="let num of categoryLevelMark(category.level)">─</span>
          <span>{{ category.name }}</span>
        </span>
      </ba-checkbox>
      <p></p>
    </div>
  </template>
</div>
