<form class="form-horizontal">
  <div class="row">
    <div class="col-sm-12">
      <div class="article-extend" *ngFor="let extend of extends; let i = index">
        <div class="extend-key">
          <input type="text" 
                 id="category-name"
                 class="form-control"
                 placeholder="key" 
                 [(ngModel)]="extend.name"
                 [ngModelOptions]="{ standalone: true }"
                 (ngModelChange)="emitExtendData()">
        </div>
        <div class="extend-value">
          <input type="text" 
                 id="category-name"
                 class="form-control"
                 placeholder="value" 
                 [(ngModel)]="extend.value"
                 [ngModelOptions]="{ standalone: true }"
                 (ngModelChange)="emitExtendData()">
        </div>
        <div class="extend-del">
          <button class="btn btn-warning" (click)="delExtendItem(i)">
            <i class="ion-md-trash"></i>
          </button>
        </div>
      </div>
      <a [href]="" class="btn btn-default btn-sm btn-block btn-with-icon" (click)="addExtendItem()">
        <i class="ion-md-add"></i>
        <span>增加扩展</span>
      </a>
    </div>
  </div>
</form>